/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: rgb(45,1,80);
  background: linear-gradient(135deg, rgba(45,1,80,1) 0%, rgba(74,1,90,1) 9%, rgba(116,1,113,1) 37%, rgba(184,0,130,1) 67%, rgba(255,0,142,1) 100%);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.025em;
}

h1, 
h2 {
  font-family: 'Bree Serif', serif;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.menu {
  background: #333333;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  font-weight: bold;
  color: #ffffff;
  padding: 17px 20px 10px;
  text-decoration: none;
  border-bottom: #333333 solid 7px;
}

.menu a:hover {
  background: #2d2d2d;
  border-bottom: #740171 solid 7px;
}

.site-title,
.site-subtitle {
  text-align: center;
}

.site-title {
  font-size: 3em;
}

.site-subtitle {
  font-style: italic;
  font-weight: 400;
  text-transform: lowercase;
}

.projetos, 
.contato {
  min-height: 100vh;
  padding: 4em 2em;
  text-align: center;
}

.projetos h2, 
.contato h2 {
  font-size: 2.4em;
  line-height: 2.4em;
  padding: 0 0 1em 0;
  text-align: center;
}

.projetos .grid {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  gap: 30px;
  align-content: center;
  justify-content: center;
}

.projetos img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  transition: transform 350ms;
}

.projetos img:hover {
  transform: scale(1.05);
}

.projetos a {
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.projetos h3 {
  padding: 0.75em 0 0.5em;
}

.contato {
  min-height: unset;
}

.contato .grid {
  height: calc(100vh - 26em);
}

.contato .grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 5em);
  align-content: center;
  justify-content: center;
  min-height: calc(100vh - 16em);
  margin: -1.5em 0 1.5em 0;
}

.contato a {
  background: rgb(255,231,0);
  background: linear-gradient(135deg, rgba(255,231,0,1) 0%, rgba(255,141,0,1) 36%, rgba(255,68,0,1) 72%, rgba(255,46,0,1) 100%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #740171;
  font-size: 2.75em;
  color: #740171;
  line-height: 0;
  padding: 0.4em;
  transition: transform 0.35s;
}

.contato a:hover {
  transform: rotate(-5deg) scale(1.1);
}

/* BREAKPOINTS */
@media screen and (min-width: 570px) {
  .projetos .grid {
    grid-template-columns: repeat(2, 45%);
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }

  .projetos .grid {
    grid-template-columns: repeat(3, 30%);
  }
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 18px;
  }
}

@media screen and (min-width: 1920px) {
  .projetos .grid {
    grid-template-columns: repeat(3, 400px);
  }
}