/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: rgb(45,1,80);
  background: linear-gradient(135deg, rgba(45,1,80,1) 0%, rgba(74,1,90,1) 9%, rgba(116,1,113,1) 37%, rgba(184,0,130,1) 67%, rgba(255,0,142,1) 100%);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.025em;
}

h1, 
h2 {
  font-family: 'Bree Serif', serif;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

p {
  padding: 0.4em 0;
}

p a {
  color: rgba(255,231,0,1);
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(45,1,80,1);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.menu {
  background: #333333;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  font-weight: bold;
  color: #ffffff;
  padding: 17px 20px 10px;
  text-decoration: none;
  border-bottom: #333333 solid 7px;
}

.menu a:hover {
  background: #2d2d2d;
  border-bottom: #740171 solid 7px;
}

.site-title,
.site-subtitle {
  text-align: center;
}

.site-title {
  font-size: 3em;
  opacity: 0;
  transform: scaleY(0);
  animation: animacaoTitulo 1s ease-out 500ms 1 normal forwards running;
}

@keyframes animacaoTitulo {
  50% {
    transform: scaleX(1.2) scaleY(1.2);
  }
  100% {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
  }
}

.site-subtitle {
  font-style: italic;
  font-weight: 400;
  text-transform: lowercase;
  opacity: 0;
  transform: translateX(-25vw);
  animation: animacaoSubtitulo 1s ease 750ms 1 normal forwards running;
}

@keyframes animacaoSubtitulo {
  50% {
    transform: translateX(5vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.sobre,
.projetos, 
.contato {
  min-height: 100vh;
  padding: 4em 2em;
  text-align: center;
}

.sobre h2, 
.projetos h2, 
.contato h2 {
  font-size: 2.4em;
  line-height: 2.4em;
  padding: 0 0 1em 0;
  text-align: center;
}

.grid {
  display: grid;
  align-content: center;
  justify-content: center;
  min-height: calc(100vh - 16em);
  margin: -1.5em 0 1.5em 0;
}

.sobre .grid {
  grid-template-columns: 1fr;
  gap: 2em;
  align-items: center;
}

.sobre .avatar {
  margin-left: auto;
  margin-right: auto;
  max-width: 260px;
}

.sobre .avatar img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.sobre .texto {
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
}

.projetos .grid {
  gap: 30px;
  grid-template-columns: repeat(1, 100%);
}

.projetos img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}

.cartao-flip {
  perspective: 1000px;
}

.cartao-flip .cartao {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;
}

.cartao-flip:hover .cartao {
  transform: rotateY(-180deg);
}

.cartao-flip .cartao-frente, 
.cartao-flip .cartao-verso {
  backface-visibility: hidden;
}

.cartao-flip .cartao-verso {
  background: rgb(246,192,255);
  background: linear-gradient(135deg, rgba(246,192,255,1) 0%, rgba(255,220,220,1) 33%, rgba(255,206,189,1) 67%, rgba(255,247,194,1) 100%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  height: 98%;
  color: #740171;
  text-shadow: unset;
  padding: 2.4em;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(-180deg);
  display: grid;
  align-items: center;
}

.cartao-flip .cartao-verso em {
  font-weight: bold;
}

.projetos h3 {
  color: #ffffff;
  padding: 0.75em 0 0.5em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.contato {
  min-height: unset;
}

.contato .grid {
  gap: 20px;
  grid-template-columns: repeat(3, 5em);
}

.contato a {
  background: rgb(255,231,0);
  background: linear-gradient(135deg, rgba(255,231,0,1) 0%, rgba(255,141,0,1) 36%, rgba(255,68,0,1) 72%, rgba(255,46,0,1) 100%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #740171;
  font-size: 2.75em;
  color: #740171;
  line-height: 0;
  padding: 0.4em;
  transition: transform 0.35s;
}

.contato a:hover {
  transform: rotate(-5deg) scale(1.1);
}

/* BREAKPOINTS */
@media screen and (min-width: 570px) {
  .projetos .grid {
    grid-template-columns: repeat(2, 45%);
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
  
  .sobre .grid {
    grid-template-columns: 40% 60%;
  }

  .sobre .avatar {
    margin-right: unset;
  }

  .sobre .texto {
    max-width: 600px;
  }
  
  .sobre p {
    text-align: left;
  }

  .projetos .grid {
    grid-template-columns: repeat(3, 30%);
  }
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

@media screen and (min-width: 1920px) {
  .projetos .grid {
    grid-template-columns: repeat(3, 400px);
  }
}